table {
  border-collapse: collapse;
}
td {
  font-weight: 100;
  padding: 10px;
}
td:nth-of-type(3) {
  border-right: 1px solid black;
}
td:nth-of-type(1) {
  width: 100%;
  @apply text-gray-600;
}
td:nth-of-type(2) {
  padding-right: 5vw;
}
td:nth-of-type(4) {
  padding-left: 7vw;
}
td:nth-of-type(1) {
  font-size: 15px;
}

/* .disable-scroll-bar {
  scrollbar-width: none;
} */

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

select {
  appearance: none;
  background-image: url("../../../svgs/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5% top 50%;
  background-size: 0.65rem auto;
  background-color: white;
}
